@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

#header{ 
    width: 100%;
    height: 50%;   
    background: #CC9764;
    border-bottom: 0.8537886872998933vh solid #934F28;
}
#title{ 
    font-family: Rouge Script;
    font-style: normal;
    font-weight: normal;
    font-size: 6.25vw;
    line-height: 169px;
    text-align: center;
    padding-bottom: 3%; 
    color: #30360f;
    
}
.navbar{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    background-color: #30360f;
    font-family: Rouge Script;
    font-style: normal;
    font-weight: normal;
    font-size: 1.71875vw;
    border-radius: 0px 0px 20px 20px;
}
.nav-link{
    color: #e7ddd2;
    margin-left: 55%;
}
